@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fcfaf8;
  color: #3d2c1e;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}